[submodule "PhysIKA_Web_SPlisHSPlash"]
	path = PhysIKA_Web_SPlisHSPlash
	url = https://github.com/liyunfei18/PhysIKA_Web_SPlisHSPlash.git
[submodule "PhysIKA_Cloud"]
	path = PhysIKA_Cloud
	url = https://github.com/szmybs/PhysIKA_Cloud.git
